* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff0f6;
  color: #333;

 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


header {
  background-color: #d63384;
  padding: 15px;
  width: 100%;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd1e0;
  text-decoration: underline;
}


.container {
  padding: 40px;
  text-align: center;
  max-width: 900px;   
  width: 100%;
}

h1 {
  color: #800040;
  margin-bottom: 20px;
}

h2 {
  color: #a8327f;
  margin-top: 30px;
  margin-bottom: 15px;
}

.menu-item {
  margin: 10px 0;
  font-size: 18px;
}

.container p {
  font-size: 18px;
  margin: 8px 0;
}


.gallery img {
  width: 250px;   
  height: auto;
  margin: 10px;
  border-radius: 8px;
}




footer {
  background-color: #d63384;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}


