* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff0f6;
  color: #333;
}

header {
  background-color: #d63384;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd1e0;
  text-decoration: underline;
}

.container {
  padding: 40px;
  text-align: right;
}

h1 {
  color: #800040;
  margin-bottom: 20px;
}

h2 {
  color: #a8327f;
  margin-top: 30px;
  margin-bottom: 15px;
}

.menu-item {
  margin: 10px 0;
  font-size: 18px;
}

.container p {
  color: #333;
  font-size: 18px;
  margin: 8px 0;
}

.gallery img {
  width: 200px;
  height: 150px;
  margin: 10px;
  border-radius: 8px;
  border: 3px solid #00000000;
}

footer {
  background-color: #d63384;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
    
        img {
            width: 150%; 
            height: auto; 
        }


